# TikTok verification
curl.exe -i "https://thechesapeakeshell.com/terms/tiktokyGZTfF6Gm9ra24QsADqVr4xpM8M9zE9Q.txt"